:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elementos base */
body {
  background-color: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
  margin-left: 5px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}

/* filme principal */

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url(../img/capa-vikings.jpg);

  height: 400px;
  background-size: cover;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .titulo {
  font-size: 40px;
}
.filme-principal .descricao {
  margin-bottom: 40px;
}
